@font-face {
    font-family: "Open Sans";
    src: url(/fonts/opensans.ttf);
}

main{
    display:flex;
    align-items: center;
    justify-content: center;
    height:89vh;
}

.mainMessage{
    width:500px;
    height:max-content;
    color:white;
    background-color: black;
    font-family: "Open Sans", sans-serif;
    filter:opacity(0.);
    padding:20px;
    display:flex;
    flex-direction: column;
    gap:10px;
    filter:opacity(0.9);
}

.mainMessage h1{
    font-size: 1.6em;
}

.mainMessage h3{
    font-weight: 100;
}

.mainMessage form{
    display:flex;
    flex-direction: column;
    gap:5px;
}

.messageTitle{
    display:flex;
    flex-direction: row;
}

.messageTitle img{
    height:25px;
    width: 25px;
}

.messageTitle h2{
    padding-right:20px;
}

.closeButton:hover(){
    cursor:help;
}

input, select{
    font-family: "Open Sans", sans-serif;
    width:80%;
}

input > button{
    width:100px;
    font-size:1em;
    padding:5px;
    margin-top:10px;
    background-color: red;
}

textarea{
    width:80%;
    height:100px;
    font-family: "Open Sans", sans-serif;
}

.button{
    font-family:"Open Sans", sans-serif;
    background-color: white;
    display:flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding:10px;
    border-radius: 20px;
    color:black;
    text-decoration: none;
    font-size:1em;
}

.button a{
    text-decoration: none;
    color:black;
}

.messageButton{
    width:max-content;
    font-size:1em;
    padding:5px;
    margin-top:10px;
}

#submitMessage{
    margin-bottom:10px;

}
